pkgbase = nvidia-utils
	pkgver = 550.54.14
	pkgrel = 1
	url = http://www.nvidia.com/
	arch = x86_64
	license = custom
	makedepends = patchelf
	options = !strip
	source = nvidia-drm-outputclass.conf
	source = nvidia-utils.sysusers
	source = nvidia.rules
	source = https://us.download.nvidia.com/XFree86/Linux-x86_64/550.54.14/NVIDIA-Linux-x86_64-550.54.14.run
	sha512sums = de7116c09f282a27920a1382df84aa86f559e537664bb30689605177ce37dc5067748acf9afd66a3269a6e323461356592fdfc624c86523bf105ff8fe47d3770
	sha512sums = 4b3ad73f5076ba90fe0b3a2e712ac9cde76f469cd8070280f960c3ce7dc502d1927f525ae18d008075c8f08ea432f7be0a6c3a7a6b49c361126dcf42f97ec499
	sha512sums = 84a4eb5cd6729ab2e8585873b9463d6cdc14f7ab130e1eba373eaee252be228d8e72ad21b8da1629d438f7f47531124fc17d7d0d713cecc7e53315409344c96d
	sha512sums = 65fe0a3498e1b46368cfc7995fea720e4ba6373b0a74f4fc6280fbf75b2697948adf5b52b7d068b8df5ddbd347df7c0361db7e1a1fdc0d9fcfc6f478888936be

pkgname = nvidia-utils
	pkgdesc = NVIDIA drivers utilities
	install = nvidia-utils.install
	depends = libglvnd
	depends = egl-wayland
	optdepends = nvidia-settings: configuration tool
	optdepends = xorg-server: Xorg support
	optdepends = xorg-server-devel: nvidia-xconfig
	optdepends = opencl-nvidia: OpenCL support
	provides = vulkan-driver
	provides = opengl-driver
	provides = nvidia-libgl
	conflicts = nvidia-libgl
	replaces = nvidia-libgl

pkgname = opencl-nvidia
	pkgdesc = OpenCL implemention for NVIDIA
	depends = zlib
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = opencl-driver

pkgname = nvidia-dkms
	pkgdesc = NVIDIA drivers - module sources
	depends = dkms
	depends = nvidia-utils=550.54.14
	depends = libglvnd
	provides = NVIDIA-MODULE
	provides = nvidia
	conflicts = NVIDIA-MODULE
	conflicts = nvidia
